<!--
  This template is only used for the home page.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= stylesheet_link_tag "style", :media => "screen,projection" %>
    <title>Minimal Commerce</title>
  </head>
  <body>
    <!-- Main Container -->
    <div id="container">
      <!-- Header Container -->
      <div id="header">
        <div id="logo">
          <p>
            Minimal Commerce.
          </p>
        </div>
        <div id="navigation">
          <ul>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <%= link_to 'Catalog', :controller => 'store' %>
            </li>
          </ul>
        </div>
      </div>
      <!-- Main Content Container -->
      <div id="body">
        <!-- Sub_header Container -->
        <div id="sub_top">
        </div>
        <div id="sub_body">
          
          <%= yield %>
          <%= render :partial => "layouts/instruction" %>
          
        </div>
        <div id="sub_bottom">
        </div>
      </div>
      <!-- Footer Container -->
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
